<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
    <!-- sweet alert -->
    <script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
    <!--  -->
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1>Articles</h1>
            <a href="/all_articles">All Articles</a>
            <a href="/my_articles_table">My Articles</a>
            <a href="/article_form">Post</a>
        </div>
        <div class="content">
            <div class="form">
                <h1>Post your Articles here!</h1>
                <form id="articleForm">
                    <label for="article_year">Year of Article:</label>
                    <input type="number" name="article_year" id="article_year" required>
                    <br>
                    <label for="article_title">Article Title:</label>
                    <input type="text" name="article_title" id="article_title" required>
                    <br>
                    <label for="journal">Journal</label>
                    <input type="text" name="journal" id="journal">
                    <br>
                    <label for="link">Link:</label>
                    <input type="text" name="link" id="link" required>
                    <br>
                    <br>
                    <button type="submit" class="continue_btn">Post</button>
                </form>
            </div>
        </div>
    </div>

    <script src="static/post_article.js"></script>
</body>
</html>
